amqp==2.2.2
arrow==0.12.0
billiard==3.5.0.3
celery==4.1.0
chartjs==1.2
click==6.7
Django==2.0
django-celery-beat==1.1.0
django-celery-results==1.0.1
django-chartjs==1.2
django-static-jquery==2.1.4
django-tables2==1.17.1
djangorestframework==3.7.3
ephem==3.7.6.0
Flask==0.12.2
itsdangerous==0.24
Jinja2==2.10
kombu==4.1.0
MarkupSafe==1.0
python-dateutil==2.6.1
pytz==2017.3
redis==2.10.3
schedule==0.5.0
six==1.11.0
SQLAlchemy==1.2.0
vine==1.1.4
Werkzeug==0.13
