[config]
# addresses of fail2ban instances
# BANS and LOCATIONS requests will be sent to them
Fail2banHosts = 172.17.0.2:1234
                #172.17.0.3:1234
                #172.17.0.4:1234
                #127.0.0.1:7500

# time of day to refresh data 
# format: <hours>:<minutes> - hours in [0,23], minutes in [0,59]
time =

# time intervals between refreshing data
# format: <hours>:<minutes>:<seconds>, hours*3600 + minutes*60 + seconds must be greater then 0
interval =