[config]
# Addresses of fail2ban instances.
# BANS and LOCATIONS requests will be sent to them.
fail2banhosts = 172.17.0.2:7500
                172.17.0.3:7500
                172.17.0.4:7500
                #127.0.0.1:7500

# Time of day to refresh data - if this has value interval must be empty.
# Value will not be read if it has been passed as starting argument.
# format: <hours>:<minutes> - hours in [00,23], minutes in [00,59]
time =

# Time intervals between refreshing data - if this has value time must be empty.
# Value will not be read if it has been passed as starting argument.
# Format: <hours>:<minutes>:<seconds>, hours*3600 + minutes*60 + seconds must be greater then 0
# Examples:
#   10 -> 10 seconds
#   4:30 -> 270 seconds
#   1:10:5 -> 4205 seconds
interval = 10
