header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

chart {
    float: left;
    max-width: 500px;
    margin: 0;
    padding: 1em;
}

.flex-container {
    display: flex;
    width:635px;
}

.flex-container > div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    text-align: center;
    border: 1px solid black;
}

table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}
