{% load static %}
<script type="text/javascript" src="{% static 'js/jQuery.js' %}"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
{#<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>#}
{#        <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js" type="text/javascript"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


<html>
<head>
    <link rel="shortcut icon" type="image/png" href="{% static '/statsico.png' %}">
    <title>Fail2ban-ng Stats</title>
    <!--[if lte IE 8]>
            <script src="{% static 'js/excanvas.js' %}"></script>
        <![endif]-->
    <link rel="stylesheet" href="{% static 'css/chart_styles.css' %}">
</head>
<body>

<header>
    <h1>Fail2ban-ng Statystyki</h1>
</header>
{% block jquery %}
    <div class="flex-container">

        <canvas id="line_chart"></canvas>
        <script type="text/javascript">
            $.get('{% url "charts_json" %}', function (data) {
                var ctx = $("#line_chart").get(0).getContext("2d");
                new Chart(ctx, {
                    type: 'line', data: data
                });
            });
        </script>

        </canvas>
        <canvas id="pie_chart"></canvas>
        <script type="text/javascript">
            var endpoint = '/api/chart/data/pie'
            var defaultData = []
            var labels = [];
            var colors = [];
            $.ajax({
                method: "GET",
                url: endpoint,
                success: function (data) {
                    labels = data.labels
                    defaultData = data.default
                    colors = data.colors
                    setChartPie()
                },
                error: function (error_data) {
                    console.log("error")
                    console.log(error_data)
                }
            })
            function setChartPie() {
                var ctx = document.getElementById("pie_chart");
                var myChart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: labels,
                        datasets: [{
                            backgroundColor: colors,
                            data: defaultData
                        }]
                    }
                })
            }
            ;

        </script>
        </canvas>

        <canvas id="polar_chart"></canvas>
        <script type="text/javascript">
            var endpoint = '/api/chart/data/polar'
            var defaultData = [];
            $.ajax({
                method: "GET",
                url: endpoint,
                success: function (data) {
                    defaultData = data
                    setChart()
                },
                error: function (error_data) {
                    console.log("error")
                    console.log(error_data)
                }
            })
            function setChart() {
                var ctx = document.getElementById("polar_chart");
                var myChart = new Chart(ctx, {
                    type: 'radar',
                    data: defaultData,
                })
            }
            ;


        </script>
    </div>
    <table id="generated">
        <tr>
            <th>Rank</th>
            <th>Addres</th>
            <th>Server</th>
            <th>Number of Bans</th>
        </tr>
    </table>
    <script type="text/javascript">
        var endpoint = '/api/chart/data/serverList'
        var dData = [];
        $.ajax({
            method: "GET",
            url: endpoint,
            success: function (data) {
                dData = data.dataset;
                setTable()
            },
            error: function (error_data) {
                console.log("error")
                console.log(error_data)
            }
        })
        function setTable() {
            var len = dData.length;
            for (var i = 0; i < len; i++) {

                var number = dData[i].Number;
                var address = dData[i].Address;
                var port = dData[i].Port;
                var bans = dData[i].Bans;

                $("#generated").append("<tr><td>" + number + "</td><td>" + address + "</td><td>" + port + "</td><td>" + bans + "</td></tr>");

            }
        }
        ;
    </script>


    <input type="button" id="refresh" name="{{ company_slugs }}" value="Refresh"/>

    <script>
        var endpoint ='/refresh';

        $('#refresh').click(function () {
            $.ajax({
                url: endpoint,
                success: function (response) {
                alert("Refresh dokonany")

                },
                error: function (rs, e) {
                alert(rs.responseText);
                }
            });
        })
    </script>



{% endblock %}
</body>
</html>