<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fail2ban-ng Stats control</title>
</head>
<body>

    <input type="button" id="refresh" name="{{ company_slugs }}" value="Refresh"/>

    <script>
        var endpoint ='/refresh';

        $('#refresh').click(function () {
            $.ajax({
                url: endpoint,
                success: function (response) {
                alert("Refresh done")

                },
                error: function (rs, e) {
                alert(rs.responseText);
                }
            });
        })
    </script>


</body>
</html>