{% load staticfiles %}
        <script type="text/javascript" src="{% static 'js/jQuery.js' %}"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
        <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
<html>
    <head>
        <title>Fail2ban-ng Stats</title>
        <!--[if lte IE 8]>
            <script src="{% static 'js/excanvas.js' %}"></script>
        <![endif]-->
    </head>
    <body>
        <h1>Fail2ban-ng Statystyki</h1>

        <canvas id="line_chart" width="500" height="400"></canvas>


        <script type="text/javascript">
            $.get('{% url "line_chart_json" %}', function(data) {
                var ctx = $("#line_chart").get(0).getContext("2d");
                new Chart(ctx, {
                    type: 'line', data: data
                });
            });
        </script>
    </body>
</html>